@charset "UTF-8";
.test {
  color: yellow;
  background-color: azure;
  text-align: end; }

.btn {
  display: flex;
  justify-content: center; }

.btn button {
  font-size: 20px; }

.table-container {
  max-height: 540px;
  overflow-y: auto; }

.table-container thead {
  position: sticky;
  top: 0;
  /* Giữ lại phần header ở vị trí trên cùng */
  background-color: #f8f8f8;
  /* Tùy chỉnh màu nền cho header */ }

th, td {
  font-weight: 600;
  font-size: 16px;
  width: 150px;
  text-align: center; }

td {
  font-weight: 400;
  height: 60px; }

.image {
  width: 300px; }

.title {
  text-align: center;
  line-height: 60px; }

.listGames {
  display: flex;
  justify-content: center; }

.group {
  display: flex;
  justify-content: center;
  margin-top: 10px; }

.form {
  width: 500px;
  margin: 0 30px; }

label {
  font-size: 16px; }

.button-actions button {
  width: 90px;
  margin: 0 5px; }

.texts {
  display: flex;
  background-color: 0; }
